<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>Quizz ANS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<h2>Quizz el juego de las preguntas</h2>
     <%= respuesta %> <br/><br/>
    <a href="/quizes/question"> Intentelo de nuevo </a>
  </body>
</html>