<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>Quizz ANS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<h2>Quizz el juego de las prguntas</h2>
  	<form method="get" action="/quizes/answer">
    Pregunta:  <%= pregunta %> <br/><br/>
    	<input type="text" name="respuesta" value="Conteste aqui" />
    	<input type="submit"  value="Enviar.." />
    </form>
  </body>
</html>