  	<form method="get" action="/quizes/answer">
    Pregunta:  <%= pregunta %> <br/><br/>
    	<input type="text" name="respuesta" value="Conteste aqui" />
    	<input type="submit"  value="Enviar.." />
    </form>
